/*  your css code here. If applicable */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	background-color: #011e29;
  margin: 10px;
  padding: 20px;
	color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}
.container{
	display: 
	display: inline-block;
	width: 100%;
  padding: 10px;
}
.latest-news-section{
	width: 30%;
	display: inline-block;
  
}
    
ul{
    position: relative;
    left: 50px;
}
h4{
  margin:10px;
  
}
.sec2{
	width: 30%;
	display: inline-block;
  text-align: center;
}
img{
	width: 100px;
	display:block;
	position: relative;
  left: 250px;
}
.pictorial-news-section{
	display: inline-block;
	width: 30%;
	float: right;
  display: felx;
  align-items: center;
  text-align: center;
}


